@font-face {
    font-family: 'Outfit';
    src: url(./fontes/Outfit/Outfit-ExtraLight.ttf);
}

@font-face {
    font-family: 'Anton';
    src: url(./fontes/Anton/Anton-Regular.ttf);
}

@font-face {
    font-family: 'Schibsted';
    src: url(./fontes/Schibsted_Grotesk/SchibstedGrotesk-Bold.ttf);
}


@font-face {
    font-family: 'Roboto';
    src: url(./fontes/Roboto/Roboto-Regular.ttf);
}

h2 {
    text-align: center;
}

h3 {
    color: white;
    text-align: center;
    margin: 10px;
}

p, h2 {
    color: white;
    font-family: 'Outfit';
}

body {
    background: linear-gradient(to bottom, rgba(6, 6, 155, 0.799), rgba(36, 19, 134, 0.89), rgba(26, 5, 83, 0.911), rgba(36, 30, 121, 0.76));
    background-repeat: no-repeat;
}

.intro {
    font-family: 'Outfit';
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 100px;
    margin-left:auto;
    text-align: left;
    width: 80%;
    padding: 100px;
    box-shadow: 0 4px 8px rgba(14, 13, 13, 0.918);
    background-color: rgba(11, 8, 139, 0.8);
    border-radius: 10px;
    position: relative;
}

.texto-imagem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.texto-imagem p {
    width: 100%;
    margin-right: 50px;
}

.texto-imagem img {
    max-width: 55%;
    height: auto;
    border-radius: 10px;
}

.txtfest{
    background-color: rgb(22, 2, 114);
    color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(14, 13, 13, 0.918);
    margin: 10px;
}

@media screen and (max-width: 768px) {
    .texto-imagem {
        flex-direction: column;
    }

    .texto-imagem p, .texto-imagem img {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .texto-imagem img {
        margin-bottom: 0;
    }
}

.container {
    margin: 40px;
    font-family: 'Outfit';
}

.cabecalho {
    font-family: 'Outfit';
    background-color: rgba(12, 12, 83, 0.789);
    color: white;
    text-align: center;
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(14, 13, 13, 0.918);
}

.cabecalho h1 {
    text-shadow: 6px 3px 5px rgba(0, 4, 4, 255);
}



nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 0;
    display: block;
}

nav ul li a:hover {
    background-color: rgb(37, 37, 182);
    color: white;
}

nav ul ul {
    display: none;
    position: absolute;
    background-color: rgb(148, 148, 180);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 0;
    margin: 0;
    list-style-type: none;
    border-radius: 10px;
}

nav ul li:hover > ul {
    display: block;
}

nav ul ul li {
    display: block;
}

nav ul ul li a {
    padding: 10px;
    margin: 10px;
    color: white;
    display: block;
    border-radius: 0;
}

nav ul ul li a:hover {
    background-color: rgba(11, 11, 86, 0.764);
    color: rgb(208, 203, 203);
}

.quadro {
    background-color: rgba(37, 9, 196, 0.884);
    color: rgb(144, 139, 139);
    text-align: center;
    padding: 20px;
    margin: 90px auto;
    width: 50%;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(14, 13, 13, 0.918);
    font-family:'Outfit'; ;
   
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

th {
    background-color: rgb(148, 148, 180);
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

footer {
    background-color: rgba(41, 41, 180, 0.774);
    color: white;
    text-align: center;
    padding: 50px;
    margin-top: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(14, 13, 13, 0.918);
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    color: white;
    margin: 0 10px;
    font-size: 20px;
    text-decoration: none;
}

.social-icons a:hover {
    color: rgb(37, 37, 182);
}
